.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    
}

.checkbox > span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.0rem 2rem;
}

.checkbox > input {
    height: 20px;
    width: 20px;
    appearance: none;
    border: 1px solid #c7dbfa;
    /* border-radius: 4px; */
    outline: 0;
    border: none;
    transition-duration: 0.3s;
    background-color:grey;
    
    cursor: pointer;
    margin-top: 12px;
  }


.checkbox > input:checked {
    /* border: 3px solid #34495E; */
    background-color: #c7dbfa;
    animation: back 6s ease-in infinite alternate;
}

@keyframes back {
    from {
        background: #6a68c5;
    }
  
    to {
        background:#c7dbfa;
    }
  }

.checkbox > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: rgb(3, 3, 3);
    position: absolute;
    left: 0.3rem;
    top: 12px;
}

.checkbox > input:active {
    border: 1px solid #34495E;
}
